{% extends "app/base.html" %}

{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}
<!--FAQ container-->
<div class="ui main text container">
  <h1 class="ui header">FAQ</h1><br>
  <p>
    <b>WHO IS MY INFORMATION SHARED WITH</b>
    <p>Your information is only shared with The Bayesian Conspiracy ("TBC"). TBC does not have any partnership or other relationship
    with any government or private entity providing the benefit programs. TBC does not share your information with them and does not
    store user data for longer than is necessary to provide the service.</p>

    <b>HOW WILL I KNOW IF I'M APPROVED</b>
    <p>Bravo Six does not make an absolute determination of your eligibility for a program; you will need to follow
    the normal application procedures in order to actually apply, though it may help to have the Eligibility Results
    we generate nearby to help guide you through some of the criteria.
    
    For any questions about benefit approval, contact the appropriate agency.</p>

    <b>WHEN CAN I EXPECT A RESPONSE</b>
    <p>You can expect a response from Bravo Six about your potential eligibility immediately in the form of an
    Eligibility Results summary for various programs. However, these results do not constitute actual approval or
    denial for a program, and cannot account for all factors used in eligibility determination.
    
    For questions about receiving benefits through a program, contact the appropriate agency which adminsters the program.</p>

    <b>HOW DO I RECOVER MY ACCOUNT</b>
    <p>Accounts? Those aren't publicly available yet!</p>
  </p>
</div>
{% endblock %}