{% extends "app/base.html" %}

{% load static %}

{% block title %}Getting Started | Bravo Six{% endblock %}

{% block headerinclude %}
<link rel="stylesheet" href="{% static "app/css/welfare.css" %}">
{% endblock %}

{% block content %}
<!--Main text container-->
<div class="ui main text container">
    <h1 class="ui header">IMPORTANT WELFARE INFORMATION</h1><br>
    <!--<img class="wireframe" src="{% static "app/logo.png" %}">-->
    <p>
      <b>Create Account</b>
      <p>
        Create an account to save your applications and information for effortless applications the next time
        around. Click <a href="/bsix/createAccount"><font color="blue">here</font></a> to create your account.
      </p><br>
  
      <b>Learn More About Welfare Programs</b>
      <p>
        Considering applying for a Welfare program? If you're not sure about what programs may be
        available to you, whether you qualify or how it all works then we strongly suggest that you click <a href="/bsix/welfare"><font color="blue">here</font></a>
        to learn more.
      </p><br>
  
      <b>Next Apply!</b>
      <p>
        Once you've created an account and have been educated on the welfare process then it's time to apply <a href="/bsix/application"><font color="blue">here</font></a>.
      </p><br><br>
  
    </p>
  </div>

  {% endblock %}